### C ###
# USER
test.sh
.checker_linux
.checker_macos
megaphone
PhoneBook
BraiiiiiiinnnzzzZ
ZombieHorde
Brain
Violence
Replace
Harl
Fixed00
Fixed01
Fixed02
ClapTrap
ScavTrap
FragTrap
cats_n_dogs00
cats_n_dogs01
cats_n_dogs02
Bureaucrat
Convert
Serializer
Identify
templates
iter
Array
easyfind
Span
MutantStack
btc
RPN
PmergeMe

# Prerequisites
*.d

# tokenect files
*.o
*.ko
*.token
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled cursorers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared tokenects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# VSCODE
.vscode/

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# End of https://www.toptal.com/developers/gitignore/api/c,linux
